<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<HEAD>

<TITLE> Sphider @Falcon 汉化版（完美支持UTF8与GBK） </TITLE>
  <link type="text/css" rel="stylesheet" href="templates/falcon/search.css">
  <!-- suggest script -->
	<style type="text/css">@import url("include/js_suggest/SuggestFramework.css");</style>
	<script type="text/javascript" src="include/js_suggest/SuggestFramework.js"></script>
	<script type="text/javascript">window.onload = initializeSuggestFramework;</script>
  <!-- /suggest script -->
</HEAD>

<BODY>
<div style="position:absolute;top:10px;right:10px">

<a href="admin/admin.php" >普通登陆</a> |
<a href="admin/http_base/admin.php" >HTTP-Base</a>
</div>
<a id='headlink' href="index.php">
<h1>Sphider Falcon 汉化修正版</h1>
<h2>——完美支持UTF8与GBK编码</h2>

</a>